<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src = "/javascripts/home.js"></script>
  </head>
  <body>
    <h1><a href='/home'>트랙 이수 시뮬레이션</a></h1>
    <h2>로그인</h2>
    <p>Id       : <input type="text" name="id" id="login_id"></p>
    <p>password : <input type="password" name="pwd" id="login_password"></p>
    <input type="button" value="로그인" id="loginButton">

  </body>
</html>
