<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!DOCTYPE html>
    <h1><a href='/index.html'>트랙 이수 시뮬레이션</a></h1>
    <h2>로그인</h2>
    <p>Id       : <input type="text" name="id" id="login_id"></p>
    <p>password : <input type="password" name="pwd" id="login_password"></p>
    <input type="button" value="로그인" id="loginButton">
    <script src = "home.js"></script>
  </body>
</html>
